@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração das variáveis de cor */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Estilos do corpo da página */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body, div, a {
  font-family: 'Open Sans', sans-serif;
}

